@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --Teitle-color: #414040;
    --font-color: #707070;
    --broder-color: #E7E7E7;
}

.all-btn {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: #B68C5A;
    color: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Header Section */
.headersection {
    max-width: 1150px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
    font-size: 1.1rem;
}

ul li a {
    text-decoration: none;
    color: var(--font-color);

}

ul li {
    list-style: none;
}

/* banner */
.banner {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    border-radius: 8px 8px 8px 8px;
    background-size: auto;
}

.banners-text {
    max-width: 900px;
    margin: 0 auto;
    padding: 150px 150px;
    text-align: center;
    color: white;
}

.hight-banner-text {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-dicption {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #d0cdcd;
}

.arko {
    width: 350px;
    padding: 19px 30px 18px 14px;
    font-size: 15px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.baanner-btn {
    border-radius: 0 5px 5px 0;
}

/* Legal-Practice-Area */

.Legal-Practice-Area {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 70px;
}

.texest {
    text-align: center;
}

.area-teitle {
    font-size: 2.5rem;
    color: var(--Teitle-color);
    margin-bottom: 15px;
}

.dicptions {
    font-size: 1.1rem;
    color: var(--font-color);
    max-width: 700px;
    margin: 0 auto;
}


.cointener {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.card {
    max-width: 400px;
    text-align: center;
    padding: 40px 50px;
    border: 1px solid var(--broder-color);

}

.cardes-teitle {
    font-size: 1.3rem;
    color: var(--Teitle-color);
    font-weight: 600;
    margin: 13px 0;

}

.carde-dicption {
    font-size: 1rem;
    color: var(--font-color);
    margin-bottom: 25px;

}

.new {
    background-color: #F6F6F6;
}

/* our-client */
.our-client {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
}

.our-teitle {
    font-size: 2.5rem;
    color: var(--Teitle-color);

}

.dicptones {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 16px;
    color: var(--font-color);

}

.thumble {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../images/banner.png');
    filter: brightness(80%);
    color: white;
    padding: 100px 20px;
}

.my-img {
    border-radius: 50%;
    width: 100px;
    border: 2px solid rgb(255, 255, 255);

}

.name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 12px;
}

.sub-teitle {
    font-size: 1.1rem;
    margin-top: 10px;
}

.dicptions-tumble {
    color: rgb(207, 207, 207);
    max-width: 800px;
    margin: 0 auto;
    margin-top: 45px;
}


/* blog */
.blog {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
}

.bloges-teitle {
    text-align: center;
    font-size: 2.5rem;
    color: var(--Teitle-color);
}

.bloges-dicption {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    color: var(--font-color);
    margin-top: 15px;

}

.ours-cointenar {
    display: flex;
    margin-top: 80px;
    gap: 40px;
}

.text-cointenar {
    gap: 30px;
}

.cardses {
    border: 1px solid var(--broder-color);
    background-color: #F3F3F3;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
}

.titles {
    font-size: 1.3rem;
    font-weight: 600;
}

.many-dic {
    margin-top: 10px;
    color: var(--font-color);
}

.ours-cointenar img {
    width: 100%;

}



/* contact us */
.contact {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 70px;
}

.teitle-text {
    text-align: center;
}

.teaitless {
    font-size: 2.5rem;
    color: var(--Teitle-color);
}

.dicpations {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 16px;
    font-size: 1rem;
    color: var(--font-color);
}




/* time-input */
.time-input {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.carda-coine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.carda1 {
    border: 1px solid var(--broder-color);
    text-align: center;
    padding: 30px 30px 30px 30px;
    background-color: #F3F3F3;
    border-radius: 4px;

}

.address {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 12px;
}

.one {
    font-size: 1rem;
    color: var(--font-color);
}

.inputeas {
    display: block;
}

.gapes {
    background-color: #e9e9e9;
    margin-bottom: 25px;
    width: 490px;
    padding: 20px 18px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
}

.masseages-box {
    width: 490px;
    padding: 20px 18px;
    font-size: 1rem;
    background-color: #e9e9e9;
    border: none;
    border-radius: 8px;
}

.pohufh {
    width: 100%;
}


/* footer */
footer {
    margin-top: 100px;
    background-color: #111111;
    color: #CFCFCF;
}

.footer-contentn {
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0;
}

.just-dic {
    max-width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    color: #CFCFCF;
}

.usefull {
    display: block;
}

.subsd {
    margin-top: -10px;
}

.newes {
    font-size: 1rem;
    color: #CFCFCF;
    margin-bottom: 10px;
}


.dicpasdton {
    max-width: 250PX;
    margin-top: 19px;
}

.sub {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

.foo-pp {
    margin-top: 20px;
    padding: 18px 14px;
    font-size: 15px;
    border: none;
    border-radius: 8px 0 0 8px;
}

.all-btn4 {
    border-radius: 0 8px 8px 0;
}




/* Modile Responsive */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    ul {
        display: flex;
        gap: 10px;
        font-size: 15px;
    }

    .banner {
        width: 100%;
        padding: 100px 10px;
        background-size: auto;
    }

    .banners-text {
        max-width: 100%;
        padding: 0;
    }

    .hight-banner-text {
        font-size: 2rem;
    }

    .banner-dicption {
        font-size: 1rem;
    }

    input[type="text"] {
        width: 250px;
    }

    .cointener {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .points-section {
        max-width: 1150px;
    }

    .thumble {
        width: 100%;
    }

    .dicptions-tumble {
        margin-top: 25px;
    }

    .ours-cointenar {
        flex-direction: column-reverse;
        justify-items: center;
    }

    .cardses {
        justify-items: center;
        max-width: 400px;
        margin-bottom: 20px;
        padding: 25px 15px;
    }

    .carda-coine {
        grid-template-columns: 1fr;

    }

    .time-input {
        grid-template-columns: 1fr;
    }

    .carda1 {
        max-width: 400px;
        justify-items: center;
    }

    .gapes {
        max-width: 400px;
    }

    .masseages-box {
        max-width: 400px;

    }

    .pohufh {
        width: 100%;
    }

    .footer-contentn {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        text-align: center;
        padding: 80px 0;
    }

    .dicpasdton {
        margin: 0 auto;
    }
}


/* Tablet Responsive */
@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    ul {
        gap: 10px;
        font-size: 25px;
    }

    .banner {
        width: 100%;
        padding: 100px 10px;
        background-size: auto;
    }

    .banners-text {
        max-width: 100%;
        padding: 0;
    }

    .hight-banner-text {
        font-size: 3rem;
    }

    .banner-dicption {
        font-size: 1.5rem;
    }

    input[type="text"] {
        width: 450px;
    }

    .cointener {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }

    .text-cointenar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .points-section {
        max-width: 1150px;
    }

    .thumble {
        width: 100%;
    }

    .dicptions-tumble {
        margin-top: 25px;
    }

    .ours-cointenar {
        flex-direction: column-reverse;
        justify-items: center;
    }

    .cardses {
        justify-items: center;
        max-width: 400px;
        margin-bottom: 20px;
        padding: 25px 15px;
    }

    .carda-coine {
        grid-template-columns: repeat(1, 1fr);

    }

    .time-input {
        grid-template-columns: repeat(2, 1fr);
    }

    .carda1 {
        max-width: 400px;
        justify-items: center;
    }

    .gapes {
        max-width: 400px;
    }

    .masseages-box {
        max-width: 400px;

    }

    .pohufh {
        width: 88%;
    }

    .footer-contentn {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        text-align: center;
        padding: 80px 0;
    }

    .dicpasdton {
        padding-top: 50px;
        margin: 0 auto;
    }

    .foo-pp {
        max-width: 220px;
    }

}